Хуйня/Huinya
<nav class="navbar">
  <a class="navbar-brand d-inline-block align-top" href="#">
    <%= image_tag("logo.svg")%>
  </a>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Disabled</a>
    </li>
  </ul>
  <ul class="nav justify-content-end">
    <li class="nav-item"><button type="button" class="btn btn-link">Link</button></li>
    <li class="nav-item"><button type="button" class="btn btn-primary">Primary</button></li>
  </ul>
</nav>
<section class="content">
  <h1>:ephere упрощает<br> взаимодействие <br> между студентом <br> и преподавателем</h1>
</section>