<div  class="header">
  <h1>:ephere упрощает взаимодействие между студентом и преподавателем</h1>
  <h3>Веб сервис и&nbsp;мобильное приложение <br> для организации учебного процесса</h3>
  <a href="#">Попробовать →</a>
</div>