:root {
  //colors
  --gray-50: #ECEDF2;
  --gray-75: rgba(236, 237, 241, 0.75);
  --gray-100: #CFD4DC;
  --gray-200: #B0B7C5;
  --gray-300: #909AAE;
  --black: #16191F;
//sizes
  --base-font-size: 16px;
  --radius-min: 8px;
}
