
//@font-face {
//  font-family: 'CeraRoundProMedium';
//  src: font-url('CeraProMedium.woff') format('woff');
//  src: font-url('CeraProMedium.ttf') format('true-type');
//}
//@font-face {
//  font-family: 'CeraRoundProRegular';
//  //src: font-url('CeraProRegular.woff') format('woff');
//  src: font-url('CeraProRegular.woff') format('woff');
//  //src: font-url('CeraProRegular.ttf') format('true-type');
//  src: font-url('CeraProRegular.ttf') format('true-type');
//}
//
@font-face {
  font-family: 'CeraRoundProMedium';
  src: url('/fonts/CeraRoundProMedium.woff') format("woff");
  src: url('/fonts/CeraRoundProMedium.ttf') format("true-type");
}

@font-face {
  font-family: 'CeraRoundProRegular';
  src: url('/fonts/CeraRoundProRegular.woff') format("woff");
  src: url('/fonts/CeraRoundProRegular.ttf') format("true-type");
}
