// Place all the styles related to the landing controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  @font-family: 'Cera Round Pro Regular', Sans-Serif;
}


